*.DS_Store
*.db
*.egg-info
*.egg-info
*.log
*.log.*
*.pot
*.pyc
*.pyc
*.swp
.coverage
.idea/
.pip_cache
.treerc
coverage.xml
diff_cover.html
diff_quality_pep8.html
diff_quality_pylint.html
doc/_build
htmlcov
local_settings.py
nosetests.xml
pep8.report
pylint.report
