{% if list_labs %}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Objective</th>
				<th>Url</th>
				<th>Wiki Url</th>
				<th>Picture</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for lab in list_labs %}
				<tr>
					<td>{{ lab.name }}</td>
					<td>{{ lab.description }}</td>
					<td>{{ lab.objective }}</td>
					<td>{{ lab.url }}</td>
					<td>{{ lab.wikiurl }}</td>
					<td>{{ lab.screenshot }}</td>
					<td>___</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>There is no labs available</p>
{% endif %}