<html>
<head>
  <title>Outdated Browser</title>
  <link rel="stylesheet" id="options-google-fonts"  href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic&amp;subset=latin&amp;v=1413774746" type="text/css" media="all" />
  <style>
  * {
    font-family: 'Lato', 'Helvetica', sans-serif;
  }
  body {
    background-color: #eee;
    color: #000;
    text-align: center;
    font-size: 200%;
    padding: 40px;
  }
  a:link, a:visited {
    border-bottom: 1px solid #aaa;
    color: #578fbf;
    text-decoration: none;
  }
  a:hover {
    color: #fff;
  }
  </style>
</head>
<body>
<h1>You are Using Outdated Browser</h1>
<p>Please install <a href="http://www.google.com/chrome/">Google Chrome</a>
to use Labster, or upgrade to Internet Explorer 9.</p>
<p>Contact us (<a href="http://www.labster.com/support/">www.labster.com/support/</a>) for more info.</p>
<script type="text/javascript">
  var __lc = {};
  __lc.license = 4609071;
  __lc.group = 0;

  (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
  })();
</script>
</body>
</html>
